.container {
  width: 84%;
  margin: 0 auto;
  margin-top: 40px;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.addBtn {
  background-color: #4d8eff;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.topBar h2{
  display: flex;
}
.topBar img{
  padding-left: 10px;

}