.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCounter {
  background-color: #ffffff;
  width: 420px;
  padding: 40px;
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.loginHeader img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.loginHeader p {
  font-size: 24px;
  font-weight: bold;
}

.loginInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* فاصله بین input ها و button */
}

.loginInput input {
  padding: 12px 15px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.loginInput input:focus {
  border-color: #007bff;
}

.loginInput button {
  padding: 12px 0;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginInput button:hover:enabled {
  background-color: #0056b3;
}

.loginInput button:disabled {
  background-color: #99c1ff;
  cursor: not-allowed;
}

.loginInput p {
  text-align: center;
  color: #3a8bed;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.loginInput .error {
  color: red;
  font-size: 14px;
  text-align: center;
}
