.headerContainer {
  width: 80%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 16px;
  align-items: center;
  padding: 0px 25px;
  margin: 20px auto;
}
.headerSearch {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  max-width: 300px;
}

.headerSearch img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.headerSearch input {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: none;
  outline: none;
  flex: 1;
  padding: 8px 0;
}

.headerUser {
  display: flex;
  gap: 7px;
}
.headerUser img {
  width: 46px;
  height: 46px;
}
.headerUser h5 {
  font-size: 16px;
  font-weight: 400;
  color: #282828;
  margin: 0;
}
.headerUser p {
  font-size: 14px;
  font-weight: 300;
  color: #282828;
  margin: 0;
}
